.wrap-3{
    margin: 8rem 2rem 2rem;
    text-align: center;
}
.main-3 h2{
    font-size: 1.5rem;
    color: blue;
}
.main-3 p{
    font-size: 0.8rem;
    color: blue;
    margin: 1rem auto;
}
.client-3{
    margin: 3rem 2rem 8rem;
    display: flex;
}

.logo-3{
    display: flex;
    flex-wrap: wrap;
}
.logo-3 img{
    border: 2px solid #fff;
    box-shadow: 0 0 3px;
}

