.wrap-5{
    text-align: center;
    padding: 4rem 2rem;
}
.wrap-5 p{
    margin: 2rem 1rem;
}
.btn-5{
    display: flex;
    gap: 2rem;
    justify-content: center;
    margin-bottom: 2rem;
}
.btn-5-1{
    background-color: transparent;
}
.img-5{
    display: flex;
    flex-wrap: wrap;
    place-content: center;
}
.img-5 img{
    padding: 0.5rem;
}

